Juan Agustín Gallo <juanagustin09@gmail.com>
Juan Agustín Gallo <juanagustin09@gmail.com> <157807389+AgusGall0@users.noreply.github.com>
Facundo Joel Quintero <erock.xeneice@gmail.com>
Facundo Joel Quintero <erock.xeneice@gmail.com> <141097909+kuffaqnt@users.noreply.github.com>
Judith Escalante <judithgriseldaescalante@gmail.com>
Víctor Yapura Fuenzalida <victoryapura15@gmail.com>
Joaquín Máximo <kuquinomor@gmail.com>
Nicolás Bravo <nicovillegas810@gmail.com>
